/* PINK ARROW */
.navbar-link-effect {
    position: relative;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}

.navbar-link-effect::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-60%) rotate(-45deg);
    width: 12px;
    height: 12px;
    background-image: url('/src/assets/icons/pink_arrow.png');
    background-size: cover;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar-link-effect:hover::after,
.navbar-link-effect.active::after {
    transform: translateY(-50%) rotate(90deg);
}

.navbar-link-effect.active::after {
    transform: translateY(-50%) rotate(90deg);
}

.navbar-link-effect {
    color: #FF60B1;
    transition: color 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.navbar-link-effect:hover {
    color: #1EFFE7;
    transform: scale(1.05);
}

.active {
    color: #1EFFE7;
}

/* Navbar.css */
@keyframes aurora {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* TEXTLOGO EFFEKT */
.northern-lights-effect {
    display: inline-block;
    background: linear-gradient(270deg, #328F99, #113C54, #328F99, #1EFFE7, #FF60B1);
    background-size: 400% 400%;
    animation: aurora 20s ease infinite;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.northern-lights-effect:hover {
    animation: aurora 6s ease infinite;

}


/* RESPONSIVITET */
@media (max-width: 768px) {
    .navbar {
        margin: 0;
    }

    .navbar ul {
        width: 100%;
        align-items: flex-start;
        gap: 2px;

    }

    .navbar ul li {
        width: 100%;
    }

    .navbar-link-effect {
        display: block;
        width: 100%;
        padding: 0px 0px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .navbar-link-effect:hover,
    .navbar-link-effect:active {
        background-color: #082134;
        color: #1EFFE7;
    }
}