/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Syne:wght@400..800&display=swap');

@font-face {
  font-family: 'Wildy Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Wildy Sans Regular'), url('Wildy Sans.woff') format('woff');
}

@font-face {
  font-family: 'Norse';
  font-style: normal;
  font-weight: normal;
  src: local('Norse'), url('Norse') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #14272F;
  overflow-x: hidden
}

/* GLOBAL STYLES */

@layer base {

  /* HERO & NAV LOGO*/
  h1 {
    @apply font-logo capitalize font-semibold;
  }

  /* HEADING */
  h2 {
    @apply font-heading uppercase font-medium text-transparent bg-clip-text bg-gradient-to-l from-brightturquise to-lightgreen pb-2;
  }

  /* FEATURELIST */
  h3 {
    @apply font-logo font-semibold text-transparent bg-clip-text bg-gradient-to-l from-bluegreen to-lightgreen p-2;
  }

  /* SMALL HEADING */
  h4 {
    @apply font-logo font-medium lowercase text-transparent bg-clip-text bg-gradient-to-l from-lightgreen to-offwhite p-2;
  }

  /* SYNE HEADING */
  h5 {
    @apply font-body font-normal leading-5 text-left pb-4;
  }

  /* FOOTER */
  h6 {
    @apply font-body text-transparent bg-clip-text bg-gradient-to-br from-lightgreen to-bluegreen pb-2;
  }

  /* BODY */
  p {
    @apply font-body font-normal text-offwhite leading-6 text-left pb-4;
  }
}

/* PINK ARROW */
.bg-arrow {
  background-image: url('/src/assets/icons/pink_arrow.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  padding-right: 25px;
}

/* BUTTON SHADOW */
@layer utilities {
  .shadow-custom {
    --tw-shadow-color: #1effe983;
    box-shadow: 0px 0px 0px 0px var(--tw-shadow-color), 8px 0px 100px 10px var(--tw-shadow-color);
  }

  .shadow-pink {
    --tw-shadow-color: #ff60b2a9;
    box-shadow: 0px 0px 0px 0px var(--tw-shadow-color), 0px 0px 20px 1px var(--tw-shadow-color);
  }

}

/* ANIMATION PULSE */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}

.pulse-effect {
  animation: pulse 20s infinite;
}

/* TRANSITION FOR BUTTON */
.transition-opacity {
  transition: opacity 10s ease-in-out;
  /* Smooth transition for opacity change */
}


/* SCROLLBAR */
/* Track */
::-webkit-scrollbar {
  width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #04121E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #285e63;
}

/* Track */
::-webkit-scrollbar-track {
  background: #14272F;
}

/* Handle when dragging */
::-webkit-scrollbar-thumb:active {
  background: #195158;
}

/* FAQ-SCROLLBAR */
.FAQ-scrollbar::-webkit-scrollbar {
  width: 14px;
}

.FAQ-scrollbar::-webkit-scrollbar-track {
  background: #08213400;
}

.FAQ-scrollbar::-webkit-scrollbar-thumb {
  background: #14272F;
  border-radius: 10px;
}

.FAQ-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1effe983;
}

.custom-text-format {
  max-width: 500px; /* Adjust width to manage breaks */
}
